[defaults]
inventory = ./inventory.yml

interpreter_python = auto_silent
roles_path = ./roles

retry_files_enabled = True
retry_files_save_path = /tmp/.ansible-retry

remote_user = ansible
private_key_file = ./secrets/ssh_priv_key

vault_password_file = ./secrets/vault_pass


[ssh_connection]
pipelining = True

[privilege_escalation]
become = true