[defaults]
inventory = inventory/
remote_user = ansible
private_key_file = secrets/ssh_priv_key
interpreter_python = /usr/bin/python3
roles_path = roles/
retry_files_enabled = True

[ssh_connection]
pipelining = True
