upstream app_servers {
    least_conn;
    server {{ hostvars['first.app.tea']['ansible_host'] }}:{{ hostvars[groups['main_app_servers'][0]]['http_listen_port'] }};
}

server {
	listen 80 default_server;
	listen [::]:80 default_server;

	server_name {{ inventory_hostname }};

	location / {
		proxy_pass http://app_servers;
	
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
	}
}
